body{
    padding:none;
    margin:none;
    font-size:16px;
    width: 100%;
    height: auto; 
}

.main-conatiner-header{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    box-shadow: 2px 2px 18px 1px #bebebe ;
}

.nav-link{
    font-size: 18px;
    padding: 5px;
}

.nav-link:hover{
   background-color: rgba(230, 126, 34, 1);
   border-radius: 2px;
}

.card-img-top{
    height: 250px;
    width: 120px;
  }
  
  .card{
    width: 300px;
    height: 530px;
    box-shadow: 2px 2px 6px 6px rgb(218, 218, 218);
  }
  
  .card-text{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto auto auto;
  }
  
  .btn-primary{
    background-color: #E67E22 !important;
    border: 1px solid #E67E22 !important;
  }
  .btn-primary:hover{
    background-color: rgb(214, 119, 36) !important; ;
  }
  p{
      margin-bottom: 6px !important ;
  }

  .container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
  
  }

  .btn-outline-primary{
    color: #E67E22 !important;
    border: 1px solid #E67E22 !important;
}

.btn-outline-primary:hover{
    color: white !important;
    background-color: #E67E22 !important;
}

  @media only screen and (max-width: 768px) {
    .card-img-top{
      height: 150px;
      width: 0px;
    }
    
    .card{
      width: 180px;
      height: 380px;
      box-shadow: 2px 2px 6px 6px rgb(218, 218, 218);
    }
    .container{
      grid-template-columns: auto auto;
      grid-column-gap: 5px;
      grid-row-gap: 10px;
    }
    p{
      font-size: 12px;
    }
    .card-body{
      padding: 10px !important ; 
    }
  }

  #error{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left:20%;
    display: none;
}